html {
    --lumo-font-family: "Roboto", sans-serif;
}

.menu-user-container {
    background-color: #bbbbbb;
    width: 100%;
    flex-wrap: nowrap;
    float: right;
}

.menu-sys-container {
    background-color: #bbbbbb;
    width: 100%;
    flex-wrap: nowrap;
    float: left;
}

.user-menu-logo {
    margin-left: auto;
    float: left;
    width: 45%;
    align-content: center;
    align-items: center;
    background-color: #b3ff39;
}

.user-menu-bar {
    float: right;
    align-content: center;
    align-items: center;
    background-color: #ffff00;
}

.sys-menu-bar {
    margin-left: 20px;
    margin-right: auto;
    float: left;
    width: 45%;
    align-content: center;
    align-items: center;
    background-color: #8fffd9;
}

.sys-button {
    height: 22px;
    margin: 0 8px 0 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.sys-logout-button {
    height: 22px;
    margin: 0 8px 0 0;
    cursor: pointer;
    border: none;
    text-decoration: underline;
}

.sys-dropdown-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.sys-dropdown {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sys-dropdown-menu {
    position: absolute;
    background-color: #0086B3;
    border-radius: 4px;
    display: none;
    box-sizing: border-box;
    -moz-box-shadow: #7f7f7f;
    -webkit-box-shadow: #7f7f7f;
    box-shadow: #aaffaa;
    flex-direction: column;
}

.sys-dropdown-menu .sys-dropdown-item {
    height: 32px;
    width: 100%;
    margin-left: 8px;
    margin-right: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sys-dropdown-item[disabled] {
    opacity: 0.4;
    pointer-events: none;
}

.sys-dropdown-item:hover {
    text-decoration: underline;
}

.sys-dropdown-menu.opened {
    display: flex;
    z-index: 3;
}

.side-menu-window {
    --sys-side-menu-front-color: var(--sys-ui-dark);
    --sys-side-menu-front-color-selected: var(--sys-ui-black);
    --sys-side-menu-width-expanded: 200px;
    --sys-side-menu-width-collapsed: 96px;

    height: 100%;
    overflow-y: auto;
    min-width: var(--sys-side-menu-width-expanded) !important;
    max-width: var(--sys-side-menu-width-expanded) !important;
    transition: ls;
    border-right: solid rgba(0, 0, 0, 0.10) 1px;
}

.sidebar-menu {
    background-color: var(--sys-ui-white);
    color: var(sys-side-menu-front-color);
    width: 100%;
    padding: 24px 0;
}

.sidebar-menu .menu-item:hover {
    background-color: #0074D9;
}

@media (max-width: 1000px) {
    .side-menu-window {
        min-width: var(--sys-side-menu-width-collapsed) !important;
        max-width: var(--sys-side-menu-width-collapsed) !important;
    }

    .sidebar-menu .menu-item {
        height: 75px;
        padding-top: 18px;
        flex-direction: column;
        font-size: var(--lumo-font-size-xs);
    }

    .sidebar-menu .menu-item div:first-child {
        padding-left: 0;
        margin-right: 0;
    }

    .sidebar-menu .menu-item div:nth-child(2) {
        text-align: center;
        width: 80px;
    }

    .sidebar-menu vaadin-tab {
        margin-bottom: 0;
    }
}


