html {
    --lumo-font-family: "Roboto", sans-serif;
}

body {
    --page-min-height: calc(100vh - (100px + 50px));
}

/* Main View content Part*/
.main-layout {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.main-content-window {
    overflow-y: auto;
    width: 100%;
}

.main-content-container-wrapper {
    /* background-color: #ffc520;*/
    margin: 0;
    padding: 14px;
    box-sizing: border-box;
    height: 100%;
}

.sys-main-footer {
    background-color: #21bb56;
    text-align: center;
    align-content: center;
    align-items: center;
}

.sys-page-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d6d6d6;
    height: var(--page-min-height);
}

.sys-page {
    box-sizing: border-box;
    background-color: #f8f8f8;
    padding: 8px 8px 4px;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);

    /*fixme size of page*/
    /*    min-height: 77vh;*/
    min-height: var(--page-min-height);
}

/*COMMON GRID*/
.sys-grid {
    /*    height: 72vh;*/
    /*asumption grid cover no more than 70% of page min-height   */
    height: calc(var(--page-min-height) - 150px);
    float:bottom;
}

.sys-grid-header {
    font-size: 11px;
    font-weight: bold;
    white-space: normal;
    letter-spacing: 0.06em;
    display: inline-block;
    margin: 8px;
}

vaadin-grid-cell-component {
    padding: 8px;
    font-weight: 9px;
    letter-spacing: 0.01875em;
}

/*TABS*/
.sys-tabs:not([aria-orientation="vertical"]) {
    box-shadow: inset 0 -1px 0 0 #ffc520;
    margin-bottom: 24px;
}

.sys-tab {
    border: solid 1px violet;
    margin-right: 8px;
    border-radius: 4px 4px 0 0;
    padding: 8px 4px;
}

.sys-tab::after, .sys-tab::before {
    width: 100%;
    height: 4px;
    top: 0 !important;
}

.sys-tab[selected] {
    border-bottom: solid 2px #0086B3;
}

/*MAIN MENU*/
/*TOP MAIN HEADER*/
.sys-main-header {
    width: 100%;
}

/*TOP BAR*/
.menu-top-container {
    width: 100%;
}

.sys-logo {
    width: 25%;
    background-color: #b3ff39;
}

.user-menu-right-side {
    width: 75%;
}

.user-menu-bar {
    margin-left: auto;
    float: right;
    background-color: #ffff00;
}


/*BOTTOM MENU BAR*/
.menu-bottom-container {
    width: 100%;
}

.sys-menu-bar {
    margin-left: 15px;
    width: 100%;
    background-color: #8fffd9;
}

.sys-button {
    height: 22px;
    margin: 0 8px 0 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.sys-logout-button {
    height: 22px;
    margin: 0 8px 0 0;
    cursor: pointer;
    border: none;
    text-decoration: underline;
}

.sys-dropdown-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.sys-dropdown {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sys-dropdown-menu {
    position: absolute;
    background-color: #0086B3;
    border-radius: 4px;
    display: none;
    box-sizing: border-box;
    -moz-box-shadow: #7f7f7f;
    -webkit-box-shadow: #7f7f7f;
    box-shadow: #aaffaa;
    flex-direction: column;
}

.sys-dropdown-menu .sys-dropdown-item {
    height: 32px;
    width: 100%;
    margin-left: 8px;
    margin-right: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sys-dropdown-item[disabled] {
    opacity: 0.4;
    pointer-events: none;
}

.sys-dropdown-item:hover {
    text-decoration: underline;
}

.sys-dropdown-menu.opened {
    display: flex;
    z-index: 3;
}

.side-menu-window {
    --sys-side-menu-front-color: var(--sys-ui-dark);
    --sys-side-menu-front-color-selected: var(--sys-ui-black);
    --sys-side-menu-width-expanded: 200px;
    --sys-side-menu-width-collapsed: 96px;

    height: 100%;
    overflow-y: auto;
    min-width: var(--sys-side-menu-width-expanded) !important;
    max-width: var(--sys-side-menu-width-expanded) !important;
    transition: ls;
    border-right: solid rgba(0, 0, 0, 0.10) 1px;
}

.sidebar-menu {
    background-color: var(--sys-ui-white);
    color: var(sys-side-menu-front-color);
    width: 100%;
    padding: 2px 0;
}

.sidebar-menu .menu-item:hover {
    background-color: #0074D9;
}

@media (max-width: 1000px) {
    .side-menu-window {
        min-width: var(--sys-side-menu-width-collapsed) !important;
        max-width: var(--sys-side-menu-width-collapsed) !important;
    }

    .sidebar-menu .menu-item {
        height: 15px;
        padding-top: 2px;
        flex-direction: column;
        font-size: var(--lumo-font-size-xs);
    }

    .sidebar-menu .menu-item div:first-child {
        padding-left: 0;
        margin-right: 0;
    }

    .sidebar-menu .menu-item div:nth-child(2) {
        text-align: center;
 /*       width: 150px;*/
    }

    .sidebar-menu vaadin-tab {
        margin-bottom: 0;
    }
}
